.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 60px;
    min-height: 60px;
    padding: 0 1rem;
    background: #ffffff;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 #f0f1f4;
}

.navbar__logo {
    display: block;
    width: 200px;
}

.input__search {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}

.button__search {
    width: 90px;
    background-color: #9400D3;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    color: #ffffff;
}

.group__input {
    width: 70%;
    float: right;;
    right: 10px;
} 


.card {
    width: 200px;
    height: auto;
    border: 1px solid silver; 
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.imagem {
    width: 100%;
    height: 50%;
}

.ingredientes {
    font-size: 15px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 992px) {
    .navbar {
        padding: 0 10%;
    }
}
